.input-api-key {
  min-width: 300px;
}
.single-url-table-wrapper {
  min-height: 195px;
}
table {
  border-collapse: collapse;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
.col-1 {
  background-color: lightgoldenrodyellow;
}
select.select-market {
  font-size: 20px;
}
