table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  height: 55px;
  background-color: lightgoldenrodyellow;
}

.url-table-wrapper {
  width: fit-content;
  margin: 1rem 0 3rem;
  background-color: #f3f0f0;
  min-height: 565px;
}

.single-url-table-wrapper {
  min-width: calc(100vw);
  min-height: 195px;
  padding-top: 0.2rem;
  @media (max-width: 640px) {
    min-width: 1200px;
  }
}

.single-url-table-wrapper.single-url-table-wrapper.daily-table-wrapper {
  margin-bottom: 1.75rem;
}

.header-cell-daily {
  width: 4rem;
}

select.select {
  font-size: 16px;
}

.skeleton {
  background: linear-gradient(90deg, #f5f5f5 10%, #ddd 35%, #f5f5f5 75%);
  animation: shimmer 0.8s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

.loader {
  height: 1.2rem;
}
